p {
    color: red;
}

/* Additional CSS rules */
body {
  background-color: #E9F4EA;
}

h1 {
  font-size: 40px;
}

.text {
  color: #212634;
}

#discord {
  width: 50px;
  height: auto;
}

#title{
    background-color: #BD4D56;
    width: auto;
    font-family: courier, monospace;
    letter-spacing: 5px;
    padding: 20px;
    margin-bottom: 0;
}

.btn-group button{
    background-color: #BD4D56;
    border: 1px solid #212634;
    color: #E9F4EA;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
    margin-top: 0;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child){
    border-right: none;
}

.btn-group button:hover {
    background-color: #738F9E;
}

#socials-left {
  margin-left: 25%;
  margin-top: 15px;
}

/* Media query to shrink smiley face to 300px when viewport is equal to or smaller than 400px */
@media only screen and (max-width: 400px) {
    #discord {
      width: 25px;
    }
  }

/* Media query to set smiley face's width to percentage when viewport is equal to or smaller than 300px */
@media only screen and (max-width: 300px) {
    #discord {
      max-width: 300px;
      width: 10%;
    }
  }